@media screen and (max-width:601px) {
    table.mobile-optimised {
        word-wrap:break-word;
    }

    table.mobile-optimised thead {
        position:absolute;
        left:-999em;
        top:-999em;
    }

    table.mobile-optimised td {
        display:block;
        float:left;/* ie9 and under hack */
        width:100%;
        clear:both;
        /* background:#f5f5f5; */
        background:#ffffff;
        padding:15px;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }

    table.mobile-optimised tbody, table.mobile-optimised tr {
        display:block
    }

    .mobile-optimised td:before {
        content:attr(data-th);
        display:block;
        font-weight:bold;
        margin:0 0 2px;
        color:#000;
    }

    .mobile-optimised tbody tr {
        float:left;width:100%;
        margin-bottom:10px;
    }
}